.text-rating {
  text-align: center;
  padding: 10px;
  position: relative;
}
.text-rating::after {
  content: "";
  width: 80%;
  height: 2px;
  margin: 0 10%;
  left: 0;
  top: 50%;
  position: absolute;
  background: #3427273a;
}
.text-rating h2 {
  position: relative;
  background: #f5f5f5;
  padding: 0 15px;
  display: inline;
  z-index: 1;
}
.novel-high-rating {
  width: 1200px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin: 10px auto;
  flex-wrap: wrap;
}
