.story-list {
  position: relative;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  left: 5%;
  margin: 20px 0;
}
.story-list li {
  display: inline-block;
}
.select-box {
  margin: 10px 10%;
}
