.profile-container {
  max-width: 80%;
  margin: 10px 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile-container .text-profile {
  color: #265073;
  font-weight: 900;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}
.profile-container .profile-button {
  display: flex;
  gap: 5px;
}
.form-button {
  background: #265073;
  color: #fff;
  border: 2px solid #265073;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
}
.form-button:active {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}
.profile-user {
  background: #a5e8f9;
  display: flex;
  position: relative;
  max-width: 80%;
  height: 150px;
  margin: 10px 10%;
  border-radius: 10px;
}
.profile-user .user-image {
  position: absolute;
  width: 12%;
  height: 90%;
  top: 50%;
  left: 0.5rem;
  transform: translateY(-50%);
  border-radius: 50%;
}
.user-information {
  position: absolute;
  margin-left: 15%;
  margin-top: 5px;
}
.novel-recently {
  margin: 10px 10%;
}
.novel-recently {
  text-align: center;
  position: relative;
  margin-top: 1.5rem;
}
.novel-recently span {
  position: relative;
  z-index: 1;
  background: #fff;
  padding: 0 0.9rem;
}
.novel-recently::after {
  content: "";
  width: 100%;
  height: 1px;
  left: 0;
  top: 50%;
  position: absolute;
  background: #3427273a;
}
.admin-function {
  max-width: 80%;
  margin: 20px 10%;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.box {
  width: 100%;
  text-align: center;
  padding: 10px;
}
.box .input-wrapper {
  width: 100%;
  left: 35%;
}
.box .input-wrapper .input-field {
  width: 50%;
  padding: 10px 0;
  margin: 10px 0;
  font-size: 100%;
  border-radius: 0.3rem;
}
.box .input-wrapper .input-field::placeholder {
  size: 100%;
}
