* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background: #f5f5f5;
}
.container {
  width: 100vw;
  height: 100vh;
}
.novel-component {
  width: 190px;
  height: 391.6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #3427273a;
  border-radius: 10px;
  background: #37474f;
  color: #fff;
}
.novel-component p {
  padding: 10% 0;
}
.novel-component:hover {
  scale: 1.1;
  filter: brightness(1.2);
  border: 2px solid #ffd700;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
.chapter-component {
  width: 90%;
  height: 50px;
  border: 2px solid #000;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 10px;
}
.author-component {
  width: 80%;
  height: 150px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 2rem;
  margin: 20px auto;
  border: 2px solid;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.novel-component:hover,
.chapter-component:hover,
.author-component:hover {
  cursor: pointer;
}
.novel-component:active,
.chapter-component:active,
.author-component:active {
  opacity: 50%;
}
