.header-container {
  background: #a5e8f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-list {
  align-items: center;
  display: flex;
}
.nav-list li {
  margin: 10px 10px;
  cursor: pointer;
  font-weight: bold;
  display: inline-block;
  position: relative;
}
.nav-list li .nav-item-text {
  text-decoration: none;
  color: #000;
}
.nav-list li::after,
.nav-icon .material-symbols-rounded::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 2px;
  width: 100%;
  transform: scaleX(0);
  background: #000;
  transition: transform 0.3s;
}
.nav-list li:hover::after,
.nav-icon .material-symbols-rounded:hover::after,
.nav-icon .material-symbols-rounded:visited::after {
  transform: scaleX(1);
}
.active ::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 3px;
  width: 100%;
  transform: scaleX(1);
  background: #000;
}
.header-container .navbar-brand {
  cursor: pointer;
  margin: 10px 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 10px;
  color: inherit;
}
.header-container .navbar-brand:active,
.nav-item .nav-item-text:active {
  color: #fff;
}
.header-container .nav-icon {
  margin: 10px 10px;
  cursor: pointer;
}
.header-container .nav-icon .material-symbols-rounded {
  color: #000;
  text-decoration: none;
  position: relative;
}
.header-container .nav-icon .material-symbols-rounded:active {
  color: #fff;
}
.material-symbols-rounded {
  margin: 0 5px;
}
.search-tab {
  width: 30%;
  min-height: 20%;
  margin: 10px 35%;
  padding: 30px;
  background: #fff;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 1px solid #3427273a;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  z-index: 5;
}
.search-tab input {
  width: 60%;
  height: 50px;
  font-size: 15px;
  outline: none;
  border: outset;
}
.search-tab .X {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.search-tab .X:hover {
  border: 1px solid #acabab;
  border-radius: 50%;
  background: #acabab;
}
.novel-search {
  width: 60%;
  height: 30%;
  border: 1px solid;
  display: flex;
  gap: 10px;
  padding: 3px;
  align-items: center;
  cursor: pointer;
}
.novel-search img {
  width: 100px;
  height: 150px;
}
.opacity-tab {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}
