.novel-container {
  max-width: 80%;
  height: 100vh;
  display: flex;
  margin: 0 10%;
}
.novel-img {
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 40%;
  padding: 10px 0;
  gap: 5px;
  border: 3px solid #a5e8f9;
  align-items: center;
}
.novel-img .form-button {
  background: #265073;
  color: #fff;
  border: 2px solid #265073;
  border-radius: 10px;
  padding: 2px;
  cursor: pointer;
  width: 100%;
}
.novel-img .form-button2 {
  border: 2px solid #265073;
  border-radius: 10px;
  padding: 2px;
  cursor: pointer;
  width: 100%;
}
.novel-img .form-button :active,
.form-button2:active {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}
.novel-img img {
  width: 100%;
  border-radius: 10px;
  height: 100%;
}
.novel-text {
  border: 3px solid #a5e8f9;
  width: 85%;
  height: 40%;
  padding: 10px;
}
.novel-img .star-container span > * {
  width: 20px;
}
.star-container span {
  all: unset;
  padding: 0 5px;
  cursor: pointer;
}
.star-container span .star:hover {
  stroke: #000;
  fill: yellow;
}
.active {
  fill: yellow;
}
.chapter-list {
  position: absolute;
  top: 50%;
  width: 80%;
  height: 100%;
  text-align: center;
}
.chapter-list > * {
  margin: 10px auto;
}
